html {
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
body {
	margin:0 auto;
	padding:0;
	width:900px;
	

}
.content {
	margin:0 auto;
	padding:0 0 10px 0;
	width:900px;
	min-height:800px;
	box-shadow: 0px 5px 5px 2px #888888;
	background: rgb(242,245,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}
h1{
	text-align:center;
	color:#5F0D0A;
	padding:20px;
}
h3{
	text-align:center;
	color:#3399CC;
	font-size:14pt;
}
.top {
	width:900px;
	height:75px;
	background-color:#888;
	box-shadow: 0px 5px 5px 2px #888888;
}
.footer {
	width:900px;
	height:75px;
	background-color:#888;
	padding:10px 0px;
	text-align:right;
	box-shadow: 0px 5px 5px 2px #888888;
}
h2 {
	color:#3399CC;
}

.add {
	height:200px;
}
.clear {
	clear:both;
}
.post {
	width:600px;
	height:250px;
	box-shadow: 0px 0px 5px 2px #888888;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	margin:0px 20px 20px 20px;
	padding:5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
	overflow:hidden;
	position:relative;
	top:-20px;
}

.post p{
	padding:0px 5px;
	text-align:left;
	height:125px;
	overflow:hidden;
}
.info{
	color:#777;
	padding: 0px;
}
.link a:hover, a:visited, a:link, a:active {
	color:#333;
}
.site {
	text-decoration: none;
}
.nav {
	text-decoration: none;
	font-size:15pt;
	text-align:right;
	padding:0 5px;
	
}
.nav a:visited, a:link, a:active {
	color:#5F0D0A;
}
.nav a:hover {
	color:#3399CC;
}
.recent {
	width:200px;
	height:0px;
	position:relative;
	left:650px;
	top:0px;
	text-align:left;
	
}
.tags {
	width:200px;
	height:0px;
	position:relative;
	left:650px;
	top:150px;
	text-align:left;
}
.recent ul, .tags ul{
	list-style: none;
	font-size:13pt;
}
.recent a, .tags a{
	text-decoration: none;
}

.detail_post {
	width:600px;
	min-height:100px;
	box-shadow: 0px 0px 5px 2px #888888;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	float:left;
	margin:0px 0px 50px 10px;
	padding:5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
	position:relative;
	top:-20px;
}

.pagination {
	position:relative;
	left:685px;
	color:#3399CC;
	font-size:13pt;
}
.step-links a:visited, a:link, a:active {
	color:#5F0D0A;
}
.step-links a:hover {
	color:#3399CC;
}
