{% extends "inventory/inventory_base.html" %}

{% block content %}
<div class="content">
	<div class="jumbotron">
		{{messages}}
		{% if has_parent %}
		<a href='{% url 'cat' cat.id %}'>Return to Previous Page</a>
		{% else %}
		<a href='{% url 'inv' %}'>Return to Previous Page</a>
		{% endif %}
		<form method="POST" action="." id="new-category-form">
		<table class="add">
		{% csrf_token %}
		{{form}}
		</table>
		<button class="btn">Add Category</button>
		</form>
	</div>
</div>
{% endblock %}
