{% extends "inventory/inventory_base.html" %}

{% block content %}
<div class="content">
   <div class="jumbotron">
	<h1 class="head">{{cat.name}}</h1>
	{% if has_categories %}
        <h3 class="head">Categories in {{cat.name}}</h3>
	<dl class="lead dl-horizontal">
	
	{% for category in categories %}
		
		{% if category.parent.id == cat.id %}
			<a href="{% url 'cat' category.id %}"><dt>{{category.name}}</dt></a>
			<dd>{{category.description}}</dd>
		{% endif %}
		
	{% endfor %}
	</dl>
	{% endif %}
	<a href="{% url 'category_add' cat.id %}"><p>Add a Category</p></a>

	{% if has_items %}
	<h3 class="head">Items in {{cat.name}}</h3>
	<table class="items">
	<tr>
	<th>Name</th>
	<th>Description</th>
	<th>Quantity</th>
	</tr>
	{% for item in items %}
		{% if item.parent.id == cat.id %}
			<tr>
			<td>{{item.name}}</td>
			<td>{{item.description}}</td> 
			<td>{{item.quantity}} <a href="{% url 'item_edit' item.id %}"><span class="edit">edit</span></a></td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>

	{% endif %}
	<a href="{% url 'item_add' cat.id %}"><p>Add an Item</p></a>
      </div>
</div>
{% endblock %}
