{% extends "inventory/inventory_base.html" %}
{% block scripts %}
<script type="text/javascript">
function updateQty () {
	$.ajax({
		url: '{% url 'get_qty' item.id %}',
		type:'get',
		success: function (data) {
				$('#quantity').html(data);

			},

	});

}

$(function () {

    updateQty();
    $('#edit-item-form').submit(
        function (evt) {
            //alert ('Just tried to submit');
            // Don't really submit the form
            evt.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: 'post',
                data: $(this).serialize(),
                success: function (data) {
                    updateQty();
                },
                error: function () {
                    alert('Can\'t update this item.');
                },
            });

            return false;
        });
});
</script>
{% endblock %}
{% block content %}
<div class="content">
   <div class="jumbotron">
	<a href='{% url 'cat' item.parent.id %}'>Return to Previous Page</a>
	<h1 class="head">{{item.name}}</h1>
	<h3 class="head" id="quantity">Quantity: {{item.quantity}}</h3>
	<form method="POST" action="." id="edit-item-form">
		<table class="add">
		{% csrf_token %}
		{{item_form}}
		</table>
		<input class="btn" type="submit" value="Edit Item"></input>
	</form>
   </div>
</div>
{% endblock %}
