{% extends "base.html" %}

{% block bar %}
<div class="top">
	<h1>Stephen's Django Projects</h1>
</div>
{% endblock %}

{% block content %}
<div class="content">
	<table class="apps">
		<tr>
			<th>App Name</th>
			<th>Description</th>
			<th>Date</th>
		</tr>
		<tr>
			<th><a href="{%url 'polls:index' %}">Polls</a></hd>
			<td>The offical Django tutorial, completed fully with a (minor) custom style.</td>
			<td>August 28th, 2013</td>
		</tr>
		<tr>
			<th><a href="{%url 'portfolio' %}">Portfolio</a></th>
			<td>This was the first app I made in Django(besides the tutorial polls app).  It showcases a portfolio of my work in web development.</td>
			<td>September 4th, 2013</td>
		</tr>
		<tr>
			<th><a href="{%url 'blog' %}">Blog</a></th>
			<td>A blog of anything and everything I have to say about web development, life, and especially Django.</td>
			<td>September 11th, 2013</td>
		</tr>	
		<tr>
			<th><a href="{%url 'inv' %}">Inventory</a></th>
			<td>An inventory management system, feel free to add your own categories and items to test it out.</td>
			<td>September 17th, 2013</td>
		</tr>
		<tr>
			<th><a href="http://kaitwi.smg247.webfactional.com">Kaizen</a></th>
			<td>An app for anyone to add suggestions to be done by the admin.  Log in and add a suggestion of your own!</td>
			<td>Semptember 26th, 2013</td>
		</tr>
		<tr>
			<th><a href="http://kaitwi.smg247.webfactional.com/twitter">Twitter</a></th>
			<td>A clone of the popular website "twitter".  Create a profile and start sharing your thoughts and following others!</td>
			<td>October 2nd, 2013</td>
		</tr>
		<tr>
			<th><a href="http://jobboard.smg247.webfactional.com">Job-Board</a></th>
			<td>An app for employers and potential employees to connect, complete with subscriber email when a new job is posted, and easy contact between employers and job-seekers.</td>
			<td>October 9th, 2013</td>
		</tr>
		<tr>
			<th><a href="http://jobboard.smg247.webfactional.com/timeclock">Time Clock</a></th>
			<td>A fully functional time clock app, allowing employees to clock in and out of given projects, and employers to keep track of all their punches, with the ability to filter by date range.</td>
			<td>October 19th, 2013</td>
		</tr>
		<tr>
			<th><a href="http://pinclone.smg247.webfactional.com">Pinteresting</a></th>
			<td>A clone of the popular social web site, Pinterest.  Go post some pins and check out how it works!</td>
			<td>November 11th, 2013</td>
		</tr>
		<tr>
			<th><a href="http://restaurant.smg247.webfactional.com">Restaurant Ratings</a></th>
			<td>Similar to other popular ratings sites, this app allows anyone to see reviews and ratings of restaurants in the St. George, UT area.  Users can also add their own reviews to restaurants!</td>
			<td>December 2nd, 2013</td>
		</tr>

	</table>
</div>
{% endblock %}
