{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	{% block title %}<title>Inventory Management System</title>{% endblock %}
	<link rel ="stylesheet" href="{% static 'inventory/bootstrap/css/bootstrap.css' %}">
	<link rel ="stylesheet" href="{% static 'inventory/style.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script src="{% static 'inventory/bootstrap/js/bootstrap.js' %}"></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
		<ul class="nav">
		  <li class="active">
		    <a class="brand" href="{% url 'inventory.views.display_inventory' %}">Inventory Management System</a>
		  </li>
		  <li class="dropdown">
		    <a href="#"
			  class="dropdown-toggle"
			  data-toggle="dropdown">
			  Categories
			  <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		     {% for category in categories %}
		     <li><a href="{% url 'cat' category.id %}">{{category.name}}</a></li>
		     {% endfor %}
		    </ul>
		  </li>
		</ul>
		<ul class="nav">
		  <li><a href="{% url 'admin:app_list' 'inventory' %}">Admin</a></li>
		  <li><a href="{% url 'blog.views.display_blog' %}">Blog</a></li>
		  <li><a href="{% url 'home' %}">All Apps</a></li>
		</ul>

	    </div>
	  </div>
	</div> 

	{% block content %}

	{% endblock %}

</body>

</html>
