{% extends "inventory/inventory_base.html" %}

{% block content %}
<div class="content">
      <div class="jumbotron">
        <h1>Categories</h1>
	<dl class="lead dl-horizontal">
	{% for category in categories %}
		{% if category.parent == None %}
			<a href="{% url 'cat' category.id %}"><dt>{{category.name}}</dt></a>
			<dd>{{category.description}}</dd>
		{% endif %}
	{% endfor %}
	</dl>
	<a href="{% url 'category_add_base' %}"><p>Add a Category</p></a>
      </div>
</div>
{% endblock %}
