{% extends "inventory/inventory_base.html" %}

{% block content %}
<div class="content">
	<div class="jumbotron">
		{{messages}}
		<a href='{% url 'cat' cat.id %}'>Return to Previous Page</a>
		<form method="POST" action="." id="new-item-form">
		<table class="add">
		{% csrf_token %}
		{{form}}
		</table>
		<button class="btn">Add Item</button>
		</form>
	</div>
</div>
{% endblock %}
