<!DOCTYPE html>
<html>
  <head>
    <title>Polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <!-- Bootstrap -->
    <link href="{% static 'polls/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen">

  </head>
  <body>
    <div class="container">
	<div class="bar"></div>
	<div class="nav">
		<a href="{% url 'home' %}" class="site">App List</a>
	</div>
	<a href="{% url 'polls:index' %}"><h1 class="text-center">Polls</h1></a>
	<h3 class="text-center">{{ poll.question }}</h3>
	<hr>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div class="forms">
	<form action="{% url 'polls:vote' poll.id %}" method="post">
		{% csrf_token %}
		{% for choice in poll.choice_set.all %}
	    	    <input class="radio-inline" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	    	    <label class="label" for="choice{{ forloop.counter }}">{{ choice.answer }}</label><br />
		{% endfor %}
		<input type="submit" value="Vote" />
        </form>
	</div>
	<div class="bar"></div>
    </div><!-- /.container -->
	
</body>
</html>
