<!DOCTYPE html>
<html>
  <head>
    <title>Polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <!-- Bootstrap -->
    <link href="{% static 'polls/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen">

  </head>
  <body>
    <div class="container">
	<div class="bar"></div>
	<div class="nav">
		<a href="{% url 'home' %}" class="site">App List</a>
	</div>
	<a href="{% url 'polls:index' %}"><h1 class="text-center">Polls</h1></a>
	<h3 class="text-center">Please select a poll you would like to vote in</h3>
	<hr>
	{% if latest_poll_list %}
	    <ul class="text-center unstyled">
	    {% for poll in latest_poll_list %}
		<h4><li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li></h4>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
	<div class="bar"></div>
    </div><!-- /.container -->
	
</body>
</html>
