<!DOCTYPE html>
<html>
  <head>
    <title>Polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <!-- Bootstrap -->
    <link href="{% static 'polls/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen">

  </head>
  <body>
    <div class="container">
	<div class="bar"></div>
	<div class="nav">
		<a href="{% url 'home' %}" class="site">App List</a>
	</div>
	<a href="{% url 'polls:index' %}"><h1 class="text-center">Polls</h1></a>
<h3 class="text-center">{{ poll.question }}</h3>
<hr>
<ul class="text-center unstyled">
{% for choice in poll.choice_set.all %}
    <h4><li>{{ choice.answer }} -- {{ choice.count }} vote{{ choice.count|pluralize }}</li></h4>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' poll.id %}">Vote again?</a>
<div class="bar"></div>
    </div><!-- /.container -->
	
</body>
</html>
