li {
    color: green;
}

body {
  padding-top: 0px;
}
a:link {color:green;}      /* unvisited link */
a:visited {color:green;}  /* visited link */
a:hover {color:red;}  /* mouse over link */
.bar {
   width: 100%;
   height: 50px;
   background-color:#000000;
}
.forms {
   width:400px;
   position:relative;
   left:30em;
}
/*body {
    background: white url("images/background.gif") no-repeat right bottom;
}
*/
