{% extends "blog/blogbase.html" %}
{% load blog_tags %}
{% load staticfiles %}
{%block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
{%endblock %}

{% block script %}

{% endblock %}
{% block content %}
        <div class="content">
        <div class="nav">
		<a href="{% url 'home' %}" class="site">App List</a>
	</div>
        <div class="recent">
                <h3>Most Recent Posts</h3>
                {% recent_posts %}
                
        </div>
	<div class="tags">
                <h3>Post Tags</h3>
                {% all_tags %}
                
        </div>
        {% for blogpost in blogposts %}
                <div class="post"><a href="{% url 'post' blogpost.id %}" class="link site">
                <h2>{{ blogpost.title }}</h2>
                <span class="info">Author: {{ blogpost.user }}  Date: {{blogpost.pub_date}}</span><br />
		<span class="info">Tag: <a href="{% url 'tag' blogpost.tag %}">{{ blogpost.tag }}</a></span>
                <p>{{ blogpost.body }}</p>
                </a></div>
        {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if blogposts.has_previous %}
                            <a href="?page={{ blogposts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ blogposts.number }} of {{ blogposts.paginator.num_pages }}.
                        </span>

                        {% if blogposts.has_next %}
                            <a href="?page={{ blogposts.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
        </div>

{% endblock %}

