{% load staticfiles %}
<!doctype "html">
<html>
<head>
<title>{% block title %}Stephen's Blog{% endblock %}</title>
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />{% endblock %}
{% block script %}{% endblock %}
</head>
<body>
<a href="{% url 'blog.views.display_blog' %}" class="site"><div class="top"><h1>Stephen's Blog</h1></div></a>

{% block content %}{% endblock %}
<div class="footer">Stephen Goeddel<br>Made with Django<br>September 2013</div>
</body>
</html> 
