{% extends "blog/blogbase.html" %}
{% load staticfiles %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{%block style %} <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" /> {%endblock %}
{% block content %}
<div class="content">
        <div class="nav">
		<a href="{% url 'home' %}" class="site">App List</a>
	</div>
        <div class="recent">
                <h3>Most Recent Posts</h3>
                {% recent_posts %}
                
        </div>
	<div class="tags">
                <h3>Post Tags</h3>
                {% all_tags %}
                
        </div>
        <div class="detail_post">
                <h2>{{ post.title }}</h2>
                <span class="info">Author: {{ post.user }}  Date: {{ post.pub_date}}</span><br />
		<span class="info">Tag: <a href="{% url 'tag' post.tag %}">{{ post.tag }}</a></span>
                <p>{{ post.body }}</p>
        </div>
</div>
{% endblock %}
