{% load staticfiles %}
<!doctype "html">
<html>
<head>
<title>{% block title %}My Site{% endblock %}</title>
<script type="text/javascript" src="{% static 'portfolio/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />
{% block style %}

{% endblock %}
{% block script %}{% endblock %}
</head>
<body>
{% block bar %}
<a href="{% url 'portfolio.views.display_portfolio' %}" class="site"><div class="top"><h1>Mr. Stephen Goeddel's Portfolio Site</h1></div></a>
{% endblock %}
{% block content %}{% endblock %}
<div class="footer">Stephen Goeddel<br><a href="http://www.smgcode.com">smgcode.com</a><br />Made with Django<br>September 2013</div>
</body>
</html> 
