{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Portfolio{% endblock %}
{%block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" />
<script src="{% static 'portfolio/bjqs-1.3.js' %}"></script>
<link type="text/css" rel="Stylesheet" href="{% static 'portfolio/bjqs.css' %}" />
{%endblock %}
{% block script %}
<script>
jQuery(document).ready(function($) {
    $('#slideshow').bjqs({
        'height' : 300,
        'width' : 600,
        'responsive' : true,
	'showcontrols' : false,
	'showmarkers' : false
    });
});
</script>
{% endblock %}
{% block content %}
<div class="content">
<div class="nav">
		<a href="{% url 'home' %}" class="site">App List</a>
</div>
	{% for casestudy in casestudies %}
		
		<a href="{% url 'study' casestudy.id %}" class="link"><div class="study">
		{% thumbnail casestudy.picture "200x100" crop="center" as pic %}
			<img src="{{ MEDIA_ROOT }}{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}" />
		{% endthumbnail %}
		<!--<img src="{{ MEDIA_ROOT }}{{ casestudy.picture.url }}" width="200px" height="100px">-->
		<h2>{{ casestudy.title }}</h2>
		<p> {{ casestudy.description }}</p>
		</div></a>
		{%if casestudy.id|divisibleby:3 %} <!-- this is a workaround to change the height based on the number of rows -->
			<!--<div class="add"></div>-->
			<script>
				$('.content').height(function (index, height) {
    					return (height + 400);
				});
				/*$('html').height(function (index, height) {
    					return (height + 400);
				});*/
			</script>
		{% endif %}
		
	{% endfor %}
	<script>
		$('.content').height(function (index, height) {
    			return (height + 400);
		});
		/*$('html').height(function (index, height) {
    			return (height + 400);
		});*/
	</script>
	<div id="slide-wrap">
		<h2>Slideshow of projects</h2>
		<div id="slideshow">
			<ul class="bjqs">
				{% for casestudy in casestudies %}
					{% thumbnail casestudy.picture "600x300" crop="center" as pic %}
						<li><img src="{{ MEDIA_ROOT }}{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}" /></li>
					{% endthumbnail %}
				{% endfor %}
			</ul>
		</div>	
	</div>
</div>
{% endblock %}

