{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ study.title }}{% endblock %}
{%block style %} <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}" /> {%endblock %}
{% block content %}
<div class="content">
	<div class="nav">
			<a href="{% url 'home' %}" class="site">App List</a>
	</div>
	<div class="detail_study">
	{% thumbnail study.picture "600x300" crop="center" as pic %}
			<a href="{{study.link}}"><img src="{{ MEDIA_ROOT }}{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}" /></a>
	{% endthumbnail %}
	<h2>{{ study.title }}</h2>
	<p> {{ study.description }}</p>
	{% if study.link %}
		<a href="{{study.link}}"><p>Go to {{study.title}}</p></a>
	{% endif %}
	</div>
</div>
{% endblock %}
